body {
  background-color: #282c34;
}

.App {
  text-align: center;
  max-width: 100%;
  margin: 0 auto;
}

.App header {
  background-color: #125772;
  height: 10vh;
  min-height: 50px;
  color: rgb(255, 255, 255);
  position: fixed;
  width: 100%;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 99;
  padding: 10px;
  box-sizing: border-box;
}

.App section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  background-color: #0b0f16;
}

main {
  padding: 10px;
  height: 80vh;
  margin: 10vh 0 10vh;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
}

main::-webkit-scrollbar {
  width: 0.30rem;
}

main::-webkit-scrollbar-track {
  background: #022534;
}

main::-webkit-scrollbar-thumb {
  background: #187194;
}

form {
  height: 8vh;
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  font-size: 1.5rem;
}

.form-msg{
  border-radius: 10px;
}

form button {
  width: 8%;
  border-radius: 50px;
  background-color: #059cb6;
  padding-top: 8px;
}


input {
  line-height: 1.5;
  width: 100%;
  font-size: 1.5rem;
  background: white;
  color: black;
  outline: none;
  border: none;
  padding: 0 10px;
}

button {
  background-color: white; /* Green */
  border: none;
  color: black;
  padding: 10px 22px;
  border-radius: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  font-size: 1.25rem;
}

/* button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
} */


.sign-in {
  color: #282c34;
  background: white;
  max-width: 400px;
  margin: 0 auto;
}

.para{
  margin: 0 auto;
}




ul, li {
  text-align: left;
  list-style: none;
}

p {
  max-width: 500px;
  margin-bottom: 12px;
  line-height: 24px;
  padding: 10px 20px;
  border-radius: 25px;
  position: relative;
  color: white;
  text-align: center;
}

.message {
  display: flex;
  align-items: center;
}


.sent {
  flex-direction: row-reverse;
}

.sent p {
  color: white;
  background: #059cb6;
  align-self: flex-end;
}
.received p {
  background: #ffffff;
  color: black;
}

img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 2px 5px;
}

